
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}


body {
  font-family: Roboto, sans-serif;
}
header,
main,
footer {
  max-width: 1000px;
  margin: 1rem auto;
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: lightblue;
}
h1 {
    text-align: center;
}
section {
  padding: 20px;
  background-color: white;
  margin: 1em;
  border: 1px solid #ccc;
}


.topbar {
  display: flex;
  align-items: center;
  gap: 1rem;
}

nav a {
    padding: 20px;
    color: black;
    display: none;
}
nav a:hover {
    text-decoration: none;
    color: #616061;
}
.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 5px 0;
}

.topbar a {
  display: none;
}

.topbar.open a {
  display: block;
}


footer {
    text-align: center;
}


@media screen and (min-width: 700px) {

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: Roboto, sans-serif;
}
header,
main,
footer {
  max-width: 1000px;
  margin: 1rem auto;
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: lightblue;
}
h1 {
    text-align: center;
}
section {
  padding: 20px;
  background-color: white;
  margin: 1em;
  border: 1px solid #ccc;
}

header {
 
  align-items: right;
}

nav a {
    padding: 20px;
    color: black;
    display: none;
}
nav a:hover {
    text-decoration: none;
    color: #616061;
}
.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 5px 0;
}


footer {
    text-align: center;
}

}
@media (max-width: 600px) {
  .topbar.open {
  flex-direction: column;
  align-items: flex-start;
}
}
@media (min-width: 601px) and (max-width: 900px) {
}
    
@media (min-width: 901px) {

  nav {
    margin-right: 2em;
    display: flex;
    gap: 1rem;
  }

  nav a {
    display: inline-block; 
  }

    .menu-btn {
    display: none;  
  }
   nav {
    display: flex;
    justify-content: flex-end; /* pushes links to the right */
    gap: 1rem;
  }
}