body{
  background-color: #ddd;
  font-size: 20px;
  margin: 0;               /* optional, but nice */
}

#content{
  max-width: 60%;
  border: 1px solid darkgray;
  margin: 40px auto;       /* fixed */
  padding: 50px;           /* fixed */
  box-sizing: border-box;  /* optional but helpful */
}

p{
  color: #035f9c;
  font-size: 1.3em;
}

hr{
  height: 3px;
  background-color: #035f9c;
  width: 80%;
  border: none;
  margin: 50px auto 0;     /* fixed */
}

h1,h2,p{
  text-align: center;
}

#logos{
  text-align: center;
}

img{
  width: 50%;
  display: block;
  margin: 50px auto;       /* fixed */
}

#topics{
  line-height: 1.5em;
  margin: 0 auto;
  width: 55%;              /* fixed */
}

.list{
  list-style-type: none;
  padding-left: 0;         /* nice fix */
  margin-left: 0;          /* nice fix */
}

.background {
  background-color:  blue;
}